# Ignore IDE-specific files
.vscode/
.idea/
.ipynb_checkpoints

# Ignore Data
data/
tokens/

# Ignore Logs
logs/

# Ignore sampled data
samples/
sample_tokens/

# Ignore Python-related files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.egg
*.egg-info/
dist/
build/
*.so
*.log

# Virtual environments
venv/
env/
ENV/
venv.bak/
*.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore coverage reports
htmlcov/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Ignore distributions
*.egg-info/
.installed.cfg
*.egg

# Ignore PyInstaller
# Usually these files are written by a Python script from a Windows
# computer, where platform-specific extensions are used. 
*.manifest
*.spec

# Ignore tox
.tox/
.pytest_cache/

# Ignore mypy
.mypy_cache/
.dmypy.json
dmypy.json
